@import './vars';
@import './mixin';
@import './extend';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  .clear{
      clear: both;
  }
  @for $var from 1 through 4 {
    .service-parent .icon_#{$var} {
        color: $primaryColor;
    }
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   
}
// Header
header {
    background-color: rgba(lighten($secondaryColor, 5), 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    .logo {
        @extend .w_f;
        h2 {
            color: $thirdColor;
        }
    }
    ul {
        @extend .w_f;
        list-style: none;
        li {
            display: inline-block;
            padding: 10px 15px;
            a {
                text-decoration: none;
                color: $thirdColor;
                font-weight: bold;
                @include transition(color .9s ease);
                &:hover {
                    color: $primaryColor;
                }
            }
          
        }
    }
}

// home 
.home {
    background-image: url(../img/header.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    .home-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        h2 {
           @extend .h2
        }
        p {
          @extend .p
        }
    }
    
}
// Need
.need {
    padding: $mainPadding;
    background-color: $primaryColor;
    h2 {
        @extend .h2;
        color: $whiteColor;
    }
    p {
        @extend .p;
    }
    .line {
        background-color: $whiteColor;
    }
    .my_btn {
        background-color: $whiteColor;
        @include transition(all 0.9s ease);
        &:hover {
            background-color: $secondaryColor;
            color: $thirdColor;
        }
    }
}
// services
.services {
    padding: $mainPadding;
    h2 {
        @extend .h2;
        color: $secondaryColor;
    }
.service-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 30px 0;
    .item {
        h2 {
            @extend .h2;
            color: $secondaryColor;
            padding-top: 25px;
        }
        p {
            @extend .p;
            color: $secondaryColor;
        }
    }
}
}
// images
.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0;
    .my_img {
        position: relative;
        img {
            width: 100%;
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(lighten($primaryColor, 5), 0.5);
            @include transition(all 0.9s ease);
            opacity: 0;
        }
        &:hover {
            &:before{
                opacity: 1;
            }
        }
    }
}

// download
.download {
    background-color: $blackColor;
    padding: $mainPadding;
    h2 {
        @extend .h2;
        margin: 20px auto;
    }
    .my_btn {
        background-color: $whiteColor;
        @include transition(all 0.9s ease);
        &:hover {
            background-color: $secondaryColor;
            color: $thirdColor;
        }
    }
}
// get-in
.get-in {
    padding: $mainPadding;
    h2 {
        @extend .h2;
        color: $secondaryColor;
    }
    p {
        @extend .p;
        color: $blackColor;
    }
    .touch {

        .item {
            @extend .w_f;
            display: grid;
            &:last-of-type {
                span {
                    color: $primaryColor;
                }
            }
        }
         
           
        }
    }
    @import './media';